{% extends "base.html" %}

{% block content %}
<p>Welcome to my blog!</p>
<p>I am Jader, In this blog I publish some personal toughts and subjects that I
am currently studing. Take a look at my <a href="/about.html"
target="_blank">about</a> for more info.</p>

<p>Here is a list of recent posts here for your reading pleasure:</p>

<h2>Posts</h2>
{% set section = get_section(path="archive/_index.md") %}
{% for page in section.pages | slice(end=4) %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
{% endfor %}
<p>…or you can find more in the <a href="/archive">archives</a>.</p>


<h2>Publications</h2>
<ul>
    <li><a href="https://ailb-web.ing.unimore.it/icpr/paper/65/nn" target="_blank">Algorithm Recommendation for Data Streams</a></li>
    <li><a href="https://www.sciencedirect.com/science/article/pii/S0957417417308163?casa_token=BOT1QoY2pngAAAAA:R6QwoZiYbmydiCkxy18VlUe0qmDhS5qm4ua44XbUKVjXSwaOpiHgHvy4yIZz89VP0zpN6R5E" target="_blank">The best of two worlds: Forecasting high frequency volatility for cryptocurrencies and traditional currencies with Support Vector Regression</a></li>
</ul>
{% endblock content %}
